@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form_field {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form input[type="text"] {
  padding: 10px;
  height: 10px;
  width: 100%;

  border-radius: 10px;
  border: 1px solid black;
}

form input[type="number"] {
  padding: 10px;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.inner{
  border: 1px solid black;
  padding: 70px;
  margin: 0px 30px;
  background:black;
  border-radius: 15px;
  box-shadow: black 1px 10px 20px;
  color: white;

}

.contain {
  display: flex;
}

.card img {
  max-width: 200px;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  background-color: gray;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

button {
  background-color:black; /* Green */
  border: 2px solid white;
  font-family: 'Roboto Condensed', sans-serif;

  color: white;
  padding: 10px 26px;
  
  transition: all 0.5s;
  font-size: 16px;
  border-radius: 7px;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.cards {
 display: flex;
 /* width: 80%; */
 /* margin: auto; */
 padding: 20px 0px;
 justify-content: center;
 align-items: center;


 flex-wrap: wrap;
 flex-direction: row;

}

.card {
  box-shadow: black 5px 5px 20px;

}
@media screen and (min-width: 480px) {
  .cards {
    display: flex;
    flex-direction: row;
    
  
  }
  .container{
    min-width: 70%;
  }
}
